######################
# Compilation files
######################

*Makefile
*transcript
*make_*
*_history

######################
# Modelsim
######################

*.wlf
work/
*.out
modelsim.ini

######################
# Temporary files
######################

*#*
*~
*.swp
*.orig

######################
# Vivado/ISE files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Chipscope defition files
*.cdc

# generated bitstream & report
*.bit
*.bgn
*_ngo/
*_xmsgs/
*iseconfig/
*xdb/
*xst/
*.log
*.csv
*.xml
*.xrpt
*.ipf
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prf
*.ptwx
*.stx
*.str
*.twx
*.ptwx
*.map
*.mrp
*.ngm
*.xsl
*.xwbt
*.lso
*.gise
*.bld
*.bmd_log
*.cmd_log
*.drc
*.ncd
*.prj
*.syr
*.twr
*.unroutes
*.ut
*.xpi
*.xst
*run.tcl
*.txt
*.clk_rgn
*.xdl
*.blc
*.cpj
*.psr
*.debug
*pa.*.tcl
*planAhead_run_*/

# Vivado stuff
*.cache/
*.runs/
*.hw/
*.srcs/
*.jou
*.log

######################
# HDLmake
######################

*tcl_bitstream
*tcl_map
*tcl_par
*tcl_synthesize
*tcl_translate

*bitstream
*map
*par
*synthesize
*translate
*project

*bitstream.tcl
*map.tcl
*par.tcl
*synthesize.tcl
*translate.tcl
*project.tcl
*files.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
